.dropDownHeading{
    /* background-color: red; */
    text-align: center;
    box-sizing: border-box;
    padding: 5px 10px 5px 10px ;
    margin: 10px 0px 5px 0px ;
    font-size: 17px;
    border-radius: 5px;
    height: 50%;
    /* justify-content: center; */
    /* background-color: aqua; */
}
.dropDownHeading >span{
    margin-left:10px ;
    position: relative;
    top:2px;
    /* background-color: blue; */
}

.hoverElement:hover{
    background-color: rgb(234, 234, 234);
}

.dropdown_component{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    background-color: white;
    max-height: 25vh;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px grey;
}

